<div data-ng-if="config.globalSearch" class="ui fluid category search" id="global-search">
    <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search..." data-ng-model="globalSearch">
        <i class="search icon"></i>
    </div>
</div>
<div class="ui divider"></div>

<div class="ui centered grid">
    <div class="thirteen wide column">
        <table class="ui selectable celled table">
            <thead>
            <tr>
                <th data-ng-repeat="column in config.columns">
                    <div data-ng-if="column.visible">
                        <div data-ng-if="column.searchable" class="ui fluid category search">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="{{column.name}}..." data-ng-model="data"
                                       data-ng-change="test(data)">
                                <i class="search icon"></i>
                            </div>
                        </div>
                        <div data-ng-if="!column.searchable">
                            {{column.name}}
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="data in dataList">
                <td data-ng-repeat="column in config.columns">
                    <div data-ng-if="column.visible">
                        {{data[column.property]}}
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="5">
                    <div class="ui right floated pagination menu">
                        <a class="icon item" data-ng-click="goBackPage()" data-ng-if="checkNumberDown()">
                            <i class="left arrow icon"></i>
                        </a>
                        <a class="active item">
                            {{page}} of {{dataMeta.total_pages}}
                        </a>
                        <a class="icon item" data-ng-if="checkNumberUp()" data-ng-click="goNextPage()">
                            <i class="right arrow icon"> </i>
                        </a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>

    <!--<div class="ui modal">-->
    <!--<i class="close icon"></i>-->

    <!--<div class="header">-->
    <!--Detalles de Venta-->
    <!--</div>-->
    <!--<div class="content">-->
    <!--<div class="description">-->
    <!--<table class="ui striped table">-->
    <!--<tr>-->
    <!--<td> Nombre</td>-->
    <!--<td> {{saleDetails.numero}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td> Monto Total</td>-->
    <!--<td> {{saleDetails.monto_total}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td> Cliente</td>-->
    <!--<td> {{saleDetails.nombre_cliente}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td> RUC</td>-->
    <!--<td> {{saleDetails.ruc_cliente}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td> Fecha de Venta</td>-->
    <!--<td> {{saleDetails.fecha}}</td>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>